<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./../advanced/promises/Assignemnt05AprilUsingFetchObj.js"></script>
    <script>
        window.onload = function(){
            // var btnGetData = document.getElementById('btnGetData');
            // btnGetData.addEventListener('click',function(){
            //     var res = getData();
            //     console.log("Res "+JSON.stringify(res));
            // },false)
        }
    </script>
</head>
<body>
    <h1>Using ES 6 Fetch</h1> 
    <!-- <button id="btnGetData">Get Data</button>
    <button id="btnPostData">Post Data</button>
    <button id="btnPutData">Put Data</button>
    <button id="btnDeleteData">Delete Data</button>
    <br>
    <div id="dvdata"></div>
    <br> -->
</body>
</html>